* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'StratosSkyeng';
  src:
    local('StratosSkyeng'),
    url('fonts/stratosskyengweb-regular.woff2') format('woff2'),
    url('fonts/stratosskyengweb-regular.woff') format('woff');
  font-weight: normal;
}

body {
  font-family: 'StratosSkyeng', sans-serif;
  background: rgba(0, 73, 128, 1);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  width: 480px;
  height: 459px;
  border-radius: 12px;
  background: rgba(194, 245, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  &__title {
    width: 208px;
    height: 96px;
    color: rgba(0, 73, 128, 1);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 52px;
  }
  &__checkbox {
    display: flex;
    margin-top: 48px;
    justify-content: center;
    gap: 24px;
  }
  &__input {
    display: none;
    &:checked + .modal__label {
      background-color: bisque;
    }
  }
  &__label {
    box-sizing: border-box;
    display: flex;
    width: 98px;
    height: 98px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #fff;
    color: #0080c1;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0px;
  }
  &__button {
    margin-top: 67px;
  }
}
.gamefield {
  width: 1024px;
  height: 774px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  &__header {
    box-sizing: border-box;
    margin-top: 41px;
    margin-left: 22px;
    margin-right: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
  }
  &__timer {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: left;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      content: 'min';
      top: -20px;
      left: 40px;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0%;
      text-align: left;
    }
    &::after {
      content: 'sec';
      left: 125px;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__cards {
    box-sizing: border-box;
    margin-top: 35px;
    display: grid;
    gap: 15px;
    justify-content: center;
    align-items: center;
    &_easy {
      grid-template-columns: repeat(3, 1fr);
    }
    &_medium {
      grid-template-columns: repeat(4, 1fr);
    }
    &_hard {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
.button {
  width: 246px;
  height: 50px;
  border-radius: 12px;
  background-color: #7ac100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
}
.card {
  /* рубашка */
  width: 95px;
  height: 133px;
  background-color: #fff;
  grid-column: span 1;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  &_close {
    align-items: center;
    justify-content: center;
  }
  &_open {
    padding: 6px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__top,
  &__bottom {
    position: relative;
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px;
    align-self: flex-start;
  }
  &__bottom {
    align-self: flex-end;
    rotate: 180deg;
  }
  &__image {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 30px;
    left: 3.5px;
    &_ten {
      left: 11px;
    }
  }
}
